{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if object.filename %}
        <p>
            {% if '.png' in object.filename or '.gif' in object.filename or '.jpg' in object.filename or '.jpeg' in object.filename %}

                <div class="show_docs" onclick="showDocs{{ object.id }}(this); return false;">
                    <span>{{ object.filename }} Посмотреть</span>
                    <div class="file_block" style="height: 0px;">
                        <img src="{{ vich_uploader_asset(object, 'file') }}" width="400px"/>
                    </div>
                </div>
                <script>
                    function showDocs{{ object.id }}(oLink) {
                        var oBlock = oLink.getElementsByTagName('div')[0];
                        var span = oLink.getElementsByTagName('span')[0];

                        if(oBlock.style.height == 0+'px') {
                            span.innerHTML = "Свернуть";
                            oBlock.style.height = 400+'px';
                        } else {
                            span.innerHTML = "Посмотреть";
                            oBlock.style.height = 0+'px';
                        }
                    }
                </script>

            {% else %}
                <div url-show="https://docs.google.com/viewer?url={{ app.request.uriForPath(vich_uploader_asset(object, 'file'))|replace({' ': '%20', '/index.php': ''}) }}&amp;embedded=true" class="show_docs" onclick="showDocs{{ object.id }}(this); return false;">
                    <span>{{ object.filename }} Посмотреть</span>
                    <div class="file_block" style="height: 0px;">
                        <iframe src="" height="400" width="600"></iframe>
                    </div>
                </div>
                <script>
                    function showDocs{{ object.id }}(oLink) {
                        var oBlock = oLink.getElementsByTagName('div')[0];
                        var oIframe = oLink.getElementsByTagName('iframe')[0];
                        var oIframeUrl = oLink.getAttribute('url-show');
                        var span = oLink.getElementsByTagName('span')[0];
                        if(oBlock.style.height == 0+'px') {
                            span.innerHTML = "{{ object.filename }} Свернуть";
                            oBlock.style.height = 400+'px';
                            if(oIframe.src != oIframeUrl) {oIframe.src = oIframeUrl};
                        } else {
                            span.innerHTML = "{{ object.filename }} Посмотреть";
                            oBlock.style.height = 0+'px';
                        }
                    }
                </script>
            {% endif %}
        </p>
        <p>
            <a href="{{ vich_uploader_asset(object, 'file') }}" download>Скачать</a>
        </p>
        <style>
            .file_block{
                overflow: hidden;
                background: none repeat scroll 0 0 #FFFFFF;
                position: relative;
                transition: height 0.8s ease-out 0s;
                -moz-transition: height 0.8s ease-out 0s;
                -webkit-transition: height 0.8s ease-out 0s;
                -o-transition: height 0.8s ease-out 0s;
                margin-top: 10px;
            }

            .file_block iframe {
                border: 1px solid #000;
                padding: 10px;
            }

            .show_docs span {
                cursor: pointer;
                border-radius: 10px;
                border: 1px solid;
                padding: 5px;
                margin-bottom: 10px;
            }
        </style>
    {% endif %}
{% endblock %}
