<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8">
    <style>
        * {
            font-family: sans-serif;
            border-spacing: 0;
            padding: 0;
            font-size: 14px;
            text-align: left;
            vertical-align: top;
        }

        td {
            font-family: sans-serif;
            border-spacing: 0;
            padding: 0;
            font-size: 14px;
            text-align: left;
            vertical-align: top;
        }

        th {
            font-family: sans-serif;
            border-spacing: 0;
            padding: 0;
            font-size: 14px;
            text-align: left;
            vertical-align: top;
        }

        table {
            font-family: sans-serif;
            border-spacing: 0;
            padding: 0;
            font-size: 14px;
            text-align: left;
            vertical-align: top;
        }
        .small{
            font-size: 11px;
            font-weight: bold;
        }
        .underline{
            text-decoration: underline;
        }
    </style>
</head>
<body>
<table width="700px" border="0">
    <tr>
        <td width="270px">
            <img src="{{ logo }}" width="266px" height="85px">
        </td>
        <td width="40px" colspan="2">
        </td>
        <td width="390px">
            <p class="small">
                {{ org_contacts_full|join('<br/>')|raw }}
            </p>
        </td>
    </tr>
    <tr>
        <td width="270px">
            {{ contentHeaderLeft|raw }}
        </td>
        <td width="10px"></td>
        <td width="420px" colspan="2">
            {{ contentHeaderRight|raw }}
            <br>
            <br>
            {% if certificate.type.id != 6 and certificate.type.id != 3  and certificate.type.id != 2  and certificate.type.id != 5 %}
                {% if certificate.createdBy %}Социальный работник "{{ org_name }}" {% endif %}
                {% if certificate.createdBy %}<span class="underline">{{ certificate.createdBy.fullname }}</span> {% endif %}

                {% if certificate.type and certificate.type.showDate and certificate.dateFrom %}
                    <br/><span class="underline">«{{ certificate.dateFrom|format_date('d') }}»</span> <span class="underline">{{ certificate.dateFrom|format_date('MMMM') }}</span> {{ certificate.dateFrom|date('Y') }} года
                {% endif %}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td width="270px" height="400px">
            {% if certificate.type and certificate.type.showPhoto and certificate.client and certificate.client.photoname %}
                <img src="{{ image }}"
                     style="height: {{ height }}px; width: {{ width }}px;"/>
            {% endif %}
        </td>
        <td width="10px"></td>
        <td width="420px" colspan="2">
            {{ contentBodyRight|raw }}
        </td>
    </tr>
    <tr>
        <td width="700px" colspan="4">
            {{ contentFooter|raw }}
        </td>
    </tr>
    {% if isAdditionalInformation %}
    <tr>
        <td height="350px" colspan="4">

        </td>
    </tr>
    <tr>
        <td width="700px" colspan="4">
            <p><strong>К соцработникам “{{ org_name_short }}” можно обращаться по следующим вопросам:</strong></p>

            <ul>
                <li>как восстановить паспорт и любые другие документы</li>
                <li>как найти работу</li>
                <li>как получить медицинскую помощь</li>
                <li>где можно бесплатно поесть, переночевать, принять душ и постирать вещи</li>
                <li>как вернуться домой в другой город и связаться с родственниками</li>
                <li>как оформить инвалидность</li>
                <li>как получить пенсию и другие социальные выплаты</li>
                <li>куда обращаться для избавления от алкогольной и наркотической зависимости</li>
            </ul>

            <p>К соцработникам “{{ org_name_short }}” можно обращаться и по другим вопросам, в которых вам нужна помощь.</p>

            <p><strong>К юристами “{{ org_name_short }}” стоит обращаться, если:</strong></p>

            <ul>
                <li>вы столкнулись с мошенниками и потеряли жилье или находитесь под угрозой его утраты</li>
                <li>вас обманул работодатель</li>
                <li>ваше жилье утрачено в результате пожара или непригодно по другим причинам, а другого вам не предоставляют или не ставят на учет в качестве нуждающегося</li>
                <li>ваши родные или соседи препятствуют вашему проживанию</li>
                <li>полиция грозит вам административной ответственностью за проживание без регистрации или без паспорта или вы были уже привлечены к ней</li>
                <li>к вам предъявили иск, и вы не знаете, что делать</li>
                <li>у вас отказываются принять заявление о преступлении или вам отказывают в возбуждении уголовного дела</li>
                <li>суд вынес решение, с которым вы не согласны.</li>
            </ul>

            <p>К юристам “{{ org_name_short }}” можно обратиться и в других случаях, если вы считаете, что ваши права нарушены или находятся под угрозой нарушения.</p>

            <p><strong>При обращении к специалистам “{{ org_name_short }}” желательно иметь с собой документы, имеющие отношение к вашей проблеме.</strong></p>

        </td>
    </tr>
    {% endif %}
</table>
</body>
</html>
