<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8">
    <style>
        * {
            font-family: sans-serif;
            border-spacing: 0;
            padding: 0;
            font-size: 14px;
            text-align: left;
            vertical-align: top;
        }

        td {
            font-family: sans-serif;
            border-spacing: 0;
            padding: 0;
            font-size: 14px;
            text-align: left;
            vertical-align: top;
        }

        th {
            font-family: sans-serif;
            border-spacing: 0;
            padding: 0;
            font-size: 14px;
            text-align: left;
            vertical-align: top;
        }

        table {
            font-family: sans-serif;
            border-spacing: 0;
            padding: 0;
            font-size: 14px;
            text-align: left;
            vertical-align: top;
        }
        .small{
            font-size: 11px;
            font-weight: bold;
        }
        .underline{
            text-decoration: underline;
        }
    </style>
</head>
<body>
<table width="700px" border="0">
    <tr>
        <td width="270px">
            <img src="{{ logo }}" width="266px" height="85px">
        </td>
        <td width="40px" colspan="2">
        </td>
        <td width="390px">
            <p class="small">
                {{ org_contacts_full|join('<br/>')|raw }}
            </p>
        </td>
    </tr>
    <tr>
        <td width="270px">
            {{ contentHeaderLeft|raw }}
        </td>
        <td width="10px"></td>
        <td width="420px" colspan="2">
            {{ contentHeaderRight|raw }}
            <br>
            <br>
            {% if certificate.type.id != 6 and certificate.type.id != 3  and certificate.type.id != 2  and certificate.type.id != 5 %}
                {% if certificate.createdBy %}Социальный работник "{{ org_name }}" {% endif %}
                {% if certificate.createdBy %}<span class="underline">{{ certificate.createdBy.fullname }}</span> {% endif %}

                {% if certificate.type and certificate.type.showDate and certificate.dateFrom %}
                    <br/><span class="underline">«{{ certificate.dateFrom|format_date(pattern: 'd') }}»</span> <span class="underline">{{ certificate.dateFrom|format_date(pattern: 'MMMM') }}</span> {{ certificate.dateFrom|format_date(pattern: 'Y') }} года
                {% endif %}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td width="270px" height="400px">
            {% if certificate.type and certificate.type.showPhoto and certificate.client and certificate.client.photoname %}
                <img src="{{ image }}"
                     style="height: {{ height }}px; width: {{ width }}px;"/>
            {% endif %}
        </td>
        <td width="10px"></td>
        <td width="420px" colspan="2">
            {{ contentBodyRight|raw }}
        </td>
    </tr>
    <tr>
        <td width="700px" colspan="4">
            {{ contentFooter|raw }}
        </td>
    </tr>
</table>
</body>
</html>
