<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8">
    <style>
        * {
            font-family: sans-serif;
            border-spacing: 0;
            padding: 0;
            margin: 0;
            border: 0;
            font-size: 14px;
            text-align: left;
            vertical-align: top;
        }

        td {
            font-family: sans-serif;
            border-spacing: 0;
            padding: 0;
            margin: 0;
            border: 0;
            font-size: 14px;
            text-align: left;
            vertical-align: top;
        }

        tr {
            font-family: sans-serif;
            border-spacing: 0;
            padding: 0;
            margin: 0;
            border: 0;
            font-size: 14px;
            text-align: left;
            vertical-align: top;
        }

        th {
            font-family: sans-serif;
            border-spacing: 0;
            padding: 0;
            margin: 0;
            border: 0;
            font-size: 14px;
            text-align: left;
            vertical-align: top;
        }

        table {
            font-family: sans-serif;
            border-spacing: 0;
            padding: 0;
            font-size: 14px;
            text-align: left;
            vertical-align: top;
        }

        .small {
            font-size: 11px;
            font-weight: bold;
        }

        .underline {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<table width="700px" border="0">
    <tr>
        <td width="40px">
        </td>
        <td width="230px">
        </td>
        <td width="20px">
        </td>
        <td width="20px">
        </td>
        <td width="390px">
        </td>
    </tr>
    <tr>
        <td width="270px" colspan="2">
            <b>ДОГОВОР №</b> <u>{{ contract.id }}</u>
            <b>о социальном сопровождении</b>
            <b>{{ "now"|date('d.m.Y') }}</b>
            <b>г. Санкт-Петербург</b>
        </td>
        <td width="40px" colspan="2">
        </td>
        <td width="390px">
            <img src="{{ image }}"
                 style="height: {{ height }}px; width: {{ width }}px;"/>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            {{ specialty }} {{ user.fullName }}, действующий от лица Санкт-Петербургской
            благотворительной общественной организации помощи бездомным «Название организации», в дальнейшем
            «Организации», с одной стороны, и {{ client.fullName }}, {{ client.birthDate|date('d.m.Y') }} г.р. в
            дальнейшем
            «Благополучатель», с другой стороны, далее именуемые «Стороны», заключили настоящий
            договор о нижеследующем:
        </td>
    </tr>
    <tr>
        <td width="100%" align="left" colspan="5">
            <b>1.</b>   <b>Предмет договора</b><br>

            1.1.    Организация предоставляет Благополучателю социальное и юридическое сопровождение<br>
            на безвозмездной основе.<br>

            <b>2.</b>   <b>Права и обязанности сторон</b><br>

            2.1.    Благополучатель имеет право:<br>
            отказаться от социального и юридического сопровождения;<br>
            получать информацию о своих правах, обязанностях и условиях оказания социальных и
            юридических услуг, их содержании, целесообразности их получения и последствиях отказа
            от данных услуг;<br>
            на соблюдение конфиденциальности персональных данных, ставших известными
            сотрудникам организации;<br>

            2.2.    Благополучатель обязан:<br>
            соблюдать индивидуальный план сопровождения, оговоренный с сотрудником
            Организации перед подписанием данного договора;<br>
            предоставлять сотрудникам Организации достоверные данные, необходимые им для
            составления индивидуального плана сопровождения и оказания Благополучателю помощи;<br>
            в случае проживания в приюте Организации в указанные сотрудниками Организации
            сроки сделать все необходимые прививки и пройти необходимые обследования, получить
            и принести сотруднику Организации сертификат о прививках и результаты обследований;<br>
            выполнять назначения врача в случае обращения за медицинской помощью в лечебно-
            профилактическое учреждение во время нахождении на сопровождении Организации;<br>
            уважительно относиться к сотрудникам, не допускать грубости, оскорблений в их адрес.<br>

            2.3.    Организация имеет право:<br>
            проверять достоверность сведений, представленных Благополучателем при заключении
            настоящего Договора;<br>
            требовать от Благополучателя соблюдения индивидуального плана сопровождения;<br>
            расторгнуть настоящий Договор по предусмотренным в нем основаниям.<br>

            2.4.    Организация обязана:<br>
            информировать Благополучателя о его правах, обязанностях и условиях оказания
            социальных услуг, их содержании, целесообразности их получения и последствиях отказа
            от данных услуг;<br>
            не разглашать персональные данные о Благополучателе, ставшие известными при
            исполнении настоящего Договора.<br>

            <b>3.</b>   <b>Порядок и сроки оказания социальных услуг</b><br>

            3.1.    Оказание услуг социального сопровождения производится в объемах и в сроки,
            согласованные Организацией и Благополучателем.<br>

            3.2.    Настоящий договор вступает в силу с момента его подписания Сторонами и действует до
            момента окончания индивидуального плана сопровождения.<br>

            <b>4.</b>   <b>Условия прекращения и расторжения договора</b><br>

            4.1.    Настоящий договор прекращается исполнением Организацией индивидуального
            сопровождения Благополучателя.<br>

            4.2.    Договор может быть расторгнут Благополучателем досрочно:<br>

            4.2.1.  По желанию Благополучателя, о чем последний обязан устно или письменно уведомить
            дежурного работника Организации.<br>

            4.3.    Договор может быть расторгнут Организацией досрочно:<br>

            4.3.1.  В случае невыполнения Благополучателем мероприятий и сроков, предусмотренных
            индивидуальным планом сопровождения.<br>

            4.3.2.  В случае нарушения Правил проживания в приюте Организации.<br>

            4.3.3.  В случае предоставления Благополучателем ложных сведений о себе.<br>

            4.3.4.  По медицинским показаниям в случае, если состояние здоровья Благополучателя
            требует особых условий проживания или потенциально опасно для окружающих.<br>

            4.3.5.  В случае невыполнения Благополучателем предписаний врача или отказа от лечения
            при
            обращении в лечебно-профилактическое учреждение на момент нахождения на
            сопровождении Организации.<br>

            4.3.6.  В случае нарушения Благополучателем иных пунктов настоящего договора.<br>

            4.4.    По обстоятельствам, не зависящим от воли сторон.<br>

            <b>5.</b>   <b>Дополнительные условия</b><br>

            5.1.    Все приложения к настоящему договору, подписанные сторонами, являются
            неотъемлемой
            его частью.<br>

            5.2.    Все изменения и дополнения к настоящему договору оформляются письменно в виде
            дополнительного соглашения сторон и являются его неотъемлемой частью.<br>

            5.3.    Договор составлен в двух экземплярах, по одному для каждой стороны.<br>

            5.4.    Подписывая настоящий договор, Благополучатель дает свое согласие на использование
            Организацией его персональных данных, а именно на: сбор, систематизацию, накопление,
            хранение, уточнение (обновление, изменение), использование, обезличивание,
            блокирование, уничтожение персональных данных, как это указанно в п.3 ст.3
            Федерального закона от 27.07.2006 N 152-ФЗ &quot;О персональных данных&quot;. Также
            Благополучатель дает согласие на распространение (в том числе передачу третьим лицам)
            его персональных данных, в том случае, если это будет способствовать в решении задач
            социального сопровождения.<br>

            <b>6.</b>   <b>Реквизиты и подписи сторон</b><br>
        </td>
    </tr>
    <tr>
        <td colspan="5"></td>
    </tr>
    <tr>
        <td colspan="4">
            Организация
        </td>
        <td colspan="1">
            Благополучатель
        </td>
    </tr>
    <tr>
        <td colspan="3">
            &quot;СПб БОО «Название организации», 192000, СПб, ул.
            Улица, д. 1, ОГРН 1000000000000&quot;
            {{ specialty }} {{ user.fullName }}.
            {% if user.passport %}
                Паспорт {{ user.passport }}
            {% endif %}
            <br/>
        </td>
        <td colspan="1">
        </td>
        <td colspan="1">
            {{ client.fullName }}, {{ client.birthDate|date('d.m.Y') }} г.р.
        </td>
    </tr>
</table>
</body>
</html>
