<td class="sonata-ba-list-field">
    {% if object.type.syncId == constant('App\\Entity\\CertificateType::REGISTRATION') %}
    <select name="country" id="document_{{ object.id }}">
        {% for key,document in object.client.documents|reverse %}
            {% if document.type.id == 1 or document.type.id == 3 %}
                <option value="{{ document.id }}" {{  (key == 0 ? ' selected ' : '') }}>{{ document }}</option>
            {% endif %}
        {% endfor %}
    </select>
    {% endif %}
    {% if object.type.syncId == constant('App\\Entity\\CertificateType::TRAVEL') %}
        <input type="text" id="city_{{ object.id }}" class=" form-control" placeholder="Введите место назначения">
    {% endif %}
</td>