{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
<table class="table table-bordered">
    <thead>
    <tr>
        {% set isDelete = false %}
        {% for field_name, nested_field in form.children|first.children %}
            {% if field_name == '_delete' %}
                {% set isDelete = true %}
            {% else %}
                <th class="class-th-{{ field_name }}"
                        {% if nested_field.vars['required'] %}
                            class="required"
                        {% endif %}
                        {% if (nested_field.vars['attr']['hidden'] is defined) and (nested_field.vars['attr']['hidden']) %}
                            style="display:none;"
                        {% endif %}
                >
                    {{ nested_field.vars.label|trans({}, nested_field.vars['sonata_admin'].admin.translationDomain
                    |default(nested_field.vars.translation_domain)
                    ) }}
                </th>
            {% endif %}
        {% endfor %}
        {% if isDelete == true %}
            <th>{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}</th>
        {% endif %}
    </tr>
    </thead>
    <tbody class="sonata-ba-tbody">
    {% for nested_group_field_name, nested_group_field in form.children %}
        <tr>
            {% set isDelete = false %}
            {% set field_name2 = false %}
            {% set nested_field2 = false %}
            {% set nested_group_field2 = false %}
            {% for field_name, nested_field in nested_group_field.children %}
                {% if not sonata_admin.field_description.associationadmin.formfielddescriptions[field_name] is defined and field_name == '_delete' %}
                    {% set isDelete = true %}
                    {% set field_name2 = field_name %}
                    {% set nested_field2 = nested_field %}
                    {% set nested_group_field2 = nested_group_field %}
                {% else %}
                    <td class="
                        sonata-ba-td-{{ id }}-{{ field_name }}
                        control-group
                        {% if nested_field.vars.errors|length > 0 %} error sonata-ba-field-error{% endif %}
                        "
                            {% if (nested_field.vars['attr']['hidden'] is defined) and (nested_field.vars['attr']['hidden']) %}
                                style="display:none;"
                            {% endif %}
                    >
                        {% if sonata_admin.field_description.associationadmin.formfielddescriptions[field_name] is defined %}
                            {{ form_widget(nested_field) }}

                            {% set dummy = nested_group_field.setrendered %}
                        {% else %}
                            {% if field_name == '_delete' %}
                                {% set isDelete = true %}
                                {% set field_name2 = field_name %}
                                {% set nested_field2 = nested_field %}
                                {% set nested_group_field2 = nested_group_field %}
                                {#{{ form_widget(nested_field, { label: false }) }}#}
                            {% else %}
                                {{ form_widget(nested_field) }}
                            {% endif %}
                        {% endif %}
                        {% if nested_field.vars.errors|length > 0 %}
                            <div class="help-inline sonata-ba-field-error-messages">
                                {{ form_errors(nested_field) }}
                            </div>
                        {% endif %}
                    </td>
                {% endif %}
            {% endfor %}

            {% if isDelete == true and field_name2 and nested_field2 %}
                {% set field_name = field_name2 %}
                {% set nested_field = nested_field2 %}
                {% set nested_group_field = nested_group_field2 %}

                <td class="
                        sonata-ba-td-{{ id }}-{{ field_name }}
                        control-group
                        {% if nested_field.vars.errors|length > 0 %} error sonata-ba-field-error{% endif %}
                        "
                        {% if (nested_field.vars['attr']['hidden'] is defined) and (nested_field.vars['attr']['hidden']) %}
                            style="display:none;"
                        {% endif %}
                >
                    {% if sonata_admin.field_description.associationadmin.formfielddescriptions[field_name] is defined %}
                        {{ form_widget(nested_field) }}

                        {% set dummy = nested_group_field.setrendered %}
                    {% else %}
                        {% if field_name == '_delete' %}
                            {% set isDelete = true %}
                            {% set field_name2 = field_name %}
                            {% set nested_field2 = nested_field %}
                            {{ form_widget(nested_field, { label: false }) }}
                        {% else %}
                            {{ form_widget(nested_field) }}
                        {% endif %}
                    {% endif %}
                    {% if nested_field.vars.errors|length > 0 %}
                        <div class="help-inline sonata-ba-field-error-messages">
                            {{ form_errors(nested_field) }}
                        </div>
                    {% endif %}
                </td>
            {% endif %}
        </tr>

    {% endfor %}

    </tbody>
</table>
