<li class="user-body">
    Напоминания
    <ul>
        {% set myClientsNoticeHeader = admin.myClientsNoticeHeader %}
        {% if myClientsNoticeHeader is not empty %}
            {% for notice in myClientsNoticeHeader %}
                {% if notice.id is defined %}
                    <li><a href="{{ path('admin_app_client_notice_list', {'id': notice.client.id}) }}">{{ notice.client }}: "{{ notice.text }}"</a></li>
                {% else %}
                    <li><a href="{{ path('admin_app_client_resident_form_response_list', {'id': notice.client.id}) }}">{{ notice.client }}: "{{ notice.text }}"</a></li>
                {% endif %}
            {% endfor %}
        {% endif %}
    </ul>
</li>
