{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if admin.hasAccess('delete', object) and admin.hasRoute('delete') %}
    {% if app.request.isXmlHttpRequest %}
        <script type="text/javascript">
            function deleteObject(id, url) {
                $.post(url, {
                    _method: 'DELETE',
                    _sonata_csrf_token: '{{ admin.configurationPool.container.get('security.csrf.token_manager').token('sonata.delete').value }}',
                }, function (data) {
                    if (data.result === 'ok') {
                        $("#a-delete-" + id).parent().parent().parent().parent().hide();
                    } else {
                        alert('Ошибка удаления');
                    }
                });
            }
        </script>
        <a id="a-delete-{{ object.id }}" onclick="deleteObject({{ object.id }}, '{{ admin.generateObjectUrl('delete', object) }}')" class="btn btn-sm btn-default delete_link"
           title="{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    {% else %}
        <a href="{{ admin.generateObjectUrl('delete', object) }}" class="btn btn-sm btn-default delete_link"
           title="{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    {% endif %}
{% endif %}
