{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets '@SonataTranslationBundle/Resources/public/css/sonata-translation.css'
        'bundles/sonataadmin/vendor/jqueryui/themes/flick/jquery-ui.min.css' %}

        <link rel="stylesheet" href="{{ asset_url }}"/>

        <style>
            .form-horizontal .control-label {
                padding-left: 0;
                text-align: left;
            }

            .form-horizontal .control-label span {
                display: none
            }
        </style>
    {% endstylesheets %}


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/ivoryckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataadmin/vendor/jquery.scrollTo/jquery.scrollTo.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/vendor/markitup-markitup/markitup/jquery.markitup.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/markitup/sets/markdown/set.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/markitup/sets/html/set.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/markitup/sets/textile/set.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

{% endblock %}

{% block sonata_top_nav_menu_user_block %}
{% endblock %}

    {% block sonata_sidebar_search %}
        {% if app.request.get('filter')['search']['value'] is defined %}
            {% set query = app.request.get('filter')['search']['value'] %}
        {% else %}
            {% set query = '' %}
        {% endif %}

        <form action="{{ path('admin_app_client_list') }}" method="GET" class="sidebar-form" role="search">
            <div class="input-group custom-search-form">
                <input type="text" name="filter[search][value]" value="{{ query }}" class="form-control"
                       placeholder="{{ 'search_placeholder'|trans({}, 'SonataAdminBundle') }}">
                <span class="input-group-btn">
                <button class="btn btn-flat" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </span>
            </div>
        </form>
    {% endblock sonata_sidebar_search %}

    {% block logo %}
        {% apply spaceless %}
            <a class="logo" href="{{ path('my_clients') }}">
                {% image '@logo' %}
                    <img src="{{ asset_url }}" style="max-width: 100%;"/>
                {% endimage %}
            </a>
        {% endapply %}
    {% endblock %}

    {% block side_bar_after_nav %}
        {#<a href="https://sonata-project.org" rel="noreferrer" target="_blank">sonata project</a>#}
    {% endblock %}

        {% block side_bar_nav %}
        {{ block('side_bar_nav', 'SonataAdminBundle::standard_layout.html.twig') }}

        {%  if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_SONATA_USER_ADMIN_USER_EDIT') %}
            <ul class="sidebar-menu">
                <li class="treeview">
                    <a href="{{ path('report') }}">
                        <i class="fa fa-file-text"></i>
                        <span>Отчёты</span>
                        <span class="pull-right-container"></span>
                    </a>
                </li>
            </ul>
        {% endif %}

        {% if app.user and (app.user.viewedClients is not empty) %}
            <br/><br/><br/>
            <ul class="sidebar-menu">
                <li class="treeview active">
                    <a href="#"><span>История просмотров<br/>анкет клиентов</span><span
                                class="pull-right-container"></span></a>
                    <ul class="active treeview-menu menu_level_1 menu-open history" style="display: block;">
                        {% for viewedClient in app.user.viewedClients %}
                            <li class="first">
                                <a href="{{ path('admin_app_client_show', {id: viewedClient.client.id}) }}"><i
                                            class="fa fa-angle-double-right"
                                            aria-hidden="true"></i>{{ viewedClient.client.lastnameAndInitials }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        {% endif %}

    {% endblock %}
     {% block sonata_page_content_nav %}
        {% if _tab_menu is not empty or _actions is not empty or _list_filters_actions is not empty %}
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    {# {% block tab_menu_navbar_header %}
                         {% if _navbar_title is not empty %}
                             <div class="navbar-header">
                                 <a class="navbar-brand" href="#">{{ _navbar_title|raw }}</a>
                             </div>
                         {% endif %}
                     {% endblock %}#}

                    <div class="navbar-collapse">
                        {% if _tab_menu is not empty %}
                            <div class="navbar-left tab-menu">
                                {{ _tab_menu|raw }}
                            </div>
                        {% endif %}

                        {#
                        {% if admin is defined and action is defined and action == 'list' and admin.listModes|length > 1 %}
                            <div class="nav navbar-right btn-group">
                                {% for mode, settings in admin.listModes %}
                                    <a href="{{ admin.generateUrl('list', app.request.query.all|merge({_list_mode: mode})) }}" class="btn btn-default navbar-btn btn-sm{% if admin.getListMode() == mode %} active{% endif %}"><i class="{{ settings.class }}"></i></a>
                                {% endfor %}
                            </div>
                        {% endif %}
                        #}

                        {% block sonata_admin_content_actions_wrappers %}
                            {% if _actions|replace({ '<li>': '', '</li>': '' })|trim is not empty %}
                                <ul class="nav navbar-nav navbar-left">
                                    {% if _actions|split('</a>')|length > 2 %}
                                        <li class="dropdown sonata-actions">
                                            <a href="#" class="dropdown-toggle"
                                               data-toggle="dropdown">{{ 'link_actions'|trans({}, 'SonataAdminBundle') }}
                                                <b
                                                        class="caret"></b></a>
                                            <ul class="dropdown-menu" role="menu">
                                                {{ _actions|raw }}
                                            </ul>
                                        </li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        {% endblock sonata_admin_content_actions_wrappers %}

                        {% if _list_filters_actions is not empty %}
                            {{ _list_filters_actions|raw }}
                        {% endif %}
                    </div>
                </div>
            </nav>
        {% endif %}
    {% endblock sonata_page_content_nav %}

{% block sonata_admin_content %}
{% block notice %}
        {% include '@SonataCore/FlashMessage/render.html.twig' %}
    {% endblock notice %}

    <div class="sonata-ba-form">
    {{ form_start(form, {'attr': {'id': form_id }}) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>
            <input type='hidden' name='action' value="{{ form_action }}">
            {% if room is not empty %}
            <input type="hidden" name="room_id" value="{{ room['id'] }}">
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-primary">
                                <div class="box-header">
                                {% if form_title is not empty %}
                                    <h4 class="box-title">{{ form_title }}</h4>
                                {% endif %}
                                </div>

                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                {{ form_label(form.number) }}
                                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                    {{ form_widget(form.number) }}
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                {{ form_label(form.maxOccupants) }}
                                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                    {{ form_widget(form.maxOccupants) }}
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                {{ form_label(form.currentOccupants) }}
                                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                    {{ form_widget(form.currentOccupants) }}
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                {{ form_label(form.comment) }}
                                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                    {{ form_widget(form.comment) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 sonata-ba-form-actions well well-small form-actions">
                <button class="btn btn-success" type="submit">
                {% if room is not empty %}
                    Редактировать комнату
                {% else %}
                    Добавить комнату
                {% endif %}
                </button>
            </div>
        {{ form_end(form, {'render_rest': true}) }}
        </div>

{% endblock sonata_admin_content %}
