{% extends 'admin/layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            const delBtn = $('.deleteRoom');

            delBtn.on('click', function(e) {
                e.preventDefault();

                let el = $(this),
                    delUrl = el.attr('href');

                if (confirm("Вы уверены, что хотите удалить комнату? Это приведет к удалению всех записей связанных с историей данной комнаты. Продолжить?")) {
                    window.location = delUrl;
                }
            })
        });
    </script>
{% endblock %}


{% block sonata_admin_content %}
    {% block notice %}
        {% include '@SonataTwig/FlashMessage/render.html.twig' %}
    {% endblock notice %}
    {% if rooms is not empty %}
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="box box-primary" style="margin-bottom: 100px;">

                    <div class="box-header" style="display: flex">
                        <h4 class="box-title">Список комнат</h4>

                        <a href="/app/shelterroom/create" class="btn btn-sm btn-default" style="margin-left: auto"><i class="fa fa-plus"></i></a>
                    </div>

                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered table-striped sonata-ba-list">
                            <thead>
                                <tr class="sonata-ba-list-field-header">
                                    <th class="sonata-ba-list-field-header-number ">Номер <br> комнаты</th>
                                    <th class="sonata-ba-list-field-header-number ">Макс. <br> кол-во жильцов</th>
                                    <th class="sonata-ba-list-field-header-number ">Текущее <br> кол-во жильцов</th>
                                    <th class="sonata-ba-list-field-header-number ">Комментарий</th>
                                    <th class="sonata-ba-list-field-header-text ">Действие</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for room in rooms %}
                                    <tr>
                                        <td class   = "sonata-ba-list-field sonata-ba-list-field-text" objectid="{{room['id']}}">
                                        {{room['number']}}
                                        </td>
                                        <td class   = "sonata-ba-list-field sonata-ba-list-field-number" objectid="{{room['id']}}">
                                        {{room['maxOccupants']}}
                                        </td>
                                        <td class   = "sonata-ba-list-field sonata-ba-list-field-number" objectid="{{room['id']}}">
                                        {{room['currentOccupants']}}
                                        </td>
                                        <td class   = "sonata-ba-list-field sonata-ba-list-field-text" objectid="{{room['id']}}">
                                        {{room['comment']}}
                                        </td>
                                        <td class   = "sonata-ba-list-field sonata-ba-list-field-text" objectid="{{room['id']}}">
                                            <div class="btn-group">
                                                <a href="/app/shelterroom/{{room['id']}}/edit" data-objectId="{{room['id']}}" class="btn btn-sm btn-default" title="Редактировать">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                </a>

                                                <a href="/app/shelterroom/{{room['id']}}/delete" data-objectId="{{room['id']}}" class="btn btn-sm btn-default deleteRoom" title="Удалить">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {{ _list_table|raw }}
        </div>
    {% endif %}
{% endblock sonata_admin_content %}
