{% extends '@SonataAdmin/Core/tab_menu_template.html.twig' %}


{% block linkElement %}
    {% import "knp_menu.html.twig" as macros %}
    <a href="{{ item.uri }}"{{ macros.attributes(item.linkAttributes) }}>
        {% if item.attribute('icon') is not empty %}
            {{ item.attribute('icon')|parse_icon }}
        {% endif %}
        {{ block('label') }}
    </a>

    {% if item.name =='services' or item.name =='Примечания' %}
        {% set id = item.name %}
        <a style="float: left; padding-left: 0px; padding-top: 12px;"  href="{{ item.uri|slice(0,item.uri|length - 4) }}create?type=custom_modal" data-toggle="modal" data-target="#field_dialog_{{ id }}">
            <i class="fa fa-plus-circle" style="color: rgb(0, 166, 90);" aria-hidden="true"></i>
        </a>
        <style>
            #field_dialog_{{ id }} .modal-content {
                border-radius: 6px;
                padding: 15px 10px 1px 10px;
            }
        </style>
        {% include '@SonataAdmin/CRUD/Association/edit_modal.html.twig' %}
    {% elseif item.name =='Выдать справку' %}
        {% set id = item.name|replace({ ' ': ''})  %}
        <a style="float: left; margin-right: -15px;"  href="{{ item.uri|slice(0,item.uri|length - 4) }}list?type=custom_modal" data-toggle="modal" data-target="#field_dialog_{{ id }}">
            <i class="fa fa-plus-circle" style="color: rgb(0, 166, 90);" aria-hidden="true"></i>
        </a>
        <style>
            #field_dialog_{{ id }} .modal-content {
                border-radius: 6px;
                padding: 15px 10px 1px 10px;
            }
        </style>
        {% include '@SonataAdmin/CRUD/Association/edit_modal.html.twig' %}
    {% endif %}
{% endblock %}
