<td>
    {% block field %}
        {% for note in value|slice(0, 10) %}
            {% set id = object.id ~ '_note_' ~ note.id  %}
                {% if note.important  %}
                    <p>
                        <a href="{{ path('admin_app_client_note_edit', {id: object.id, childId: note.id}) }}?type=custom_modal" data-toggle="modal" data-target="#field_dialog_{{ id }}" role="button" aria-pressed="true">
                            <strong>
                                <i class="fa fa-exclamation"></i>
                                {{ note.createdAt|date('d.m.Y') }}
                                ({% if note.createdBy %}{{ note.createdBy.lastname }}{% endif %})
                            </strong>
                        </a>
                        <strong>
                        {{ note.text|striptags|replace({ '&nbsp;': '' })|replace({ '&quot;': '' }) }}
                        </strong>
                    </p>
                    <style>
                        #field_dialog_{{ id }} .modal-content {
                            border-radius: 6px;
                            padding: 15px 10px 1px 10px;
                        }
                    </style>
                    {% include 'SonataDoctrineORMAdminBundle:CRUD:edit_modal.html.twig' %}
                {% endif %}

        {% endfor %}


        {% for note in value|slice(0, 3) %}
            {% set id = object.id ~ '_note_' ~ note.id  %}

                {% if not note.important %}
                    <p>
                        <a href="{{ path('admin_app_client_note_edit', {id: object.id, childId: note.id}) }}?type=custom_modal" data-toggle="modal" data-target="#field_dialog_{{ id }}" role="button" aria-pressed="true">
                            <strong>
                                {{ note.createdAt|date('d.m.Y') }}
                                ({% if note.createdBy %}{{ note.createdBy.lastname }}{% endif %})
                            </strong>
                        </a>
                        {{ note.text|striptags|replace({ '&nbsp;': '' })|replace({ '&quot;': '' }) }}
                    </p>
                    <style>
                        #field_dialog_{{ id }} .modal-content {
                            border-radius: 6px;
                            padding: 15px 10px 1px 10px;
                        }
                    </style>
                    {% include 'SonataDoctrineORMAdminBundle:CRUD:edit_modal.html.twig' %}
                {% endif %}
        {% endfor %}
    {% endblock %}
    <p>
        <a href="{{ path('admin_app_client_note_list', {id: object.id}) }}">Все примечания</a> |

        {% set id = object.id ~ '_note' %}
        <a href="{{ path('admin_app_client_note_create', {id: object.id}) }}?type=custom_modal" data-toggle="modal" data-target="#field_dialog_{{ id }}" class="btn btn-success  btn-sm" role="button" aria-pressed="true">
            Добавить примечание
        </a>
        <style>
            #field_dialog_{{ id }} .modal-content {
                border-radius: 6px;
                padding: 15px 10px 1px 10px;
            }
        </style>
        {% include 'SonataDoctrineORMAdminBundle:CRUD:edit_modal.html.twig' %}
    </p>
</td>
